<html>
<head>
<style>
    div.a {
  text-align: center;
}
div.b {
  text-align: left;
}
.container {
  position: relative;
  text-align: center;
  color: white;
}
.centered {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
div.d {
  text-align: right;
}
body {
  
  background-image:url("{{ url_for('static', filename='black.png') }}");
  background-repeat: no-repeat;
  background-size: 100% 10%;
} 
</style>

<div class="d"><br>
  <a href="{{ url_for('welcome') }}" style="font-size:25px" >&emsp;home 
  <a href="{{ url_for('crop_prediction') }}" style="font-size:25px">&emsp;crop  
  <a href="{{ url_for('fertilizer_rec') }}" style="font-size:25px" >&emsp;fertilizer
  <a href="{{ url_for('crop_disease')}}" style="font-size:25px" >&emsp;disease
  </a>
</div>
<div class="a"><br><br><br><br>
<h1>Please select your District</h1>  
<details>
    <summary style="background-color:lightgreen;">Central</summary>
        <h2>No of Centres:1</h2>
        <div class="b">
        <h4>Area:Central</h4>
        <h4>Lab Name 1: Soil Testing Office1Edit</h4>
        <h4>Laboratory type:Soil Testing Laboratory</h4>
        <h4>Mobile No: 011-999999999999</h4>    
    </div>
</details>
<details>
    <summary style="background-color:lightgreen;">South</summary>
        <h2>No of Centres:1</h2>
        <div class="b">
        <h4>Area:South</h4>
        <h4>Lab Name 1: soil office test for detection</h4>
        <h4>Laboratory type:Soil Testing Laboratory</h4>
        <h4>Mobile No: 011-454545645645</h4>    
    </div>
</details>
<details>
    <summary style="background-color:lightgreen;">South west</summary>
        <h2>No of Centres:1</h2>
        <div class="b">
        <h4>Area:Najafgarh</h4>
        <h4>Lab Name 1: Krishi Vigyan Kendra, Ujwa, New Delhi</h4>
        <h4>Laboratory type:Soil Testing Laboratory</h4>
        <h4>Mobile No: 011-65638199</h4>    
    </div>
</details>







</head>        
 
<br><br><br>

<div class="container">
  <img src="{{ url_for('static', filename='green.png') }}" alt="crop_disease" style="width:1440px;height:300px;">
  <div class="centered">
  <h1>ABOUT US</h1>
  <h3>mady by SHEKHAR BOPPANAPALLY</h3>
  <h3>© Copyright 2021 @shekhar Boppanapally</h3>
  <h3>for more queries about KISAAN HELP DESK please contact me at</h3>
  <a href="https://www.linkedin.com/in/shekhar-boppanapally-647a281bb/">Linkedln.com!</a><br>
  <a href="https://github.com/shekharboppanapally">Github.com!</a><br>
  <a href="mail to:19211a0540@bvrit.ac.in">mail.com!</a>.<br>
</html>
