<html>
<head>
<style>
    div.a {
  text-align: center;
}
div.b {
  text-align: left;
}
.container {
  position: relative;
  text-align: center;
  color: white;
}
.centered {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
div.d {
  text-align: right;
}
body {
  
  background-image:url("{{ url_for('static', filename='black.png') }}");
  background-repeat: no-repeat;
  background-size: 100% 10%;
} 
</style>

<div class="d"><br>
  <a href="{{ url_for('welcome') }}" style="font-size:25px" >&emsp;home 
  <a href="{{ url_for('crop_prediction') }}" style="font-size:25px">&emsp;crop  
  <a href="{{ url_for('fertilizer_rec') }}" style="font-size:25px" >&emsp;fertilizer
  <a href="{{ url_for('crop_disease')}}" style="font-size:25px" >&emsp;disease
  </a> 
</div>
<div class="a"><br><br><br><br>
<h1>Please select your District</h1>    

<details>
    <summary style="background-color:lightgreen;">Ahmednagar</summary>
        <h2>No of Centres:3</h2>
        <div class="b">
        <h4>Area:Ahmednagar</h4>
        <h4>Lab Name 1: Agrovarta soil testing lab,Ahmednagar</h4>
        <h4>Lab Name 2: District Soil Survey & Soil Testing laboratory,AhmS</h4>
        <h4>Lab Name 3: Krushi Mitra soil testing lab,savedi</h4>
        <h4>Laboratory type:Soil Testing Laboratory</h4>
        <h4>Mobile No: </h4>    
    </div>
</details>
<details>
    <summary style="background-color:lightgreen;">Amravati</summary>
        <h2>No of Centres:3</h2>
        <div class="b">
        <h4>Area:Amravati</h4>
        <h4>Lab Name 1: District Soil Survey Soil Testing Leboratory Amt.</h4>
        <h4>Lab Name 2: Soil,Water&Leaf Test. Laboratory,KVK,Ghatkhed, Amt</h4>
        <h4>Lab Name 3: Parikshit Biotech, Amravati,</h4>
        <h4>Laboratory type:Soil Testing Laboratory</h4>
        <h4>Mobile No: 0721-2950342,0721-2667470</h4>    
    </div>
</details>
<details>
    <summary style="background-color:lightgreen;">Buldana</summary>
        <h2>No of Centres:3</h2>
        <div class="b">
        <h4>Area:Buldana</h4>
        <h4>Lab Name 1: District Soil Survey Soil Testing Lab, Buldhana</h4>
        <h4>Lab Name 2: Seva SoilTesting Laboratory Buldhana</h4>
        <h4>Lab Name 3: SOIL, WATER TESTING LAB. KVK BULDANA DR.PDKV</h4>
        <h4>Laboratory type:Soil Testing Laboratory</h4>
        <h4>Mobile No: 07262-241496</h4>    
    </div>
</details>
<details>
    <summary style="background-color:lightgreen;">dhule</summary>
        <h2>No of Centres:3</h2>
        <div class="b">
        <h4>Area:Dhule</h4>
        <h4>Lab Name 1: KVK DHULE</h4>
        <h4>Lab Name 2: Dist. Soil Survey Soil Testing Laboratory, Dhule</h4>
        <h4>Lab Name 3: SOIL AND WATER TESTING LABORATORY ,DHULE</h4>
        <h4>Laboratory type:Soil Testing Laboratory</h4>
        <h4>Mobile No: 02562-230362,02562-231401</h4>    
    </div>
</details>
<details>
    <summary style="background-color:lightgreen;">Jalgaon</summary>
        <h2>No of Centres:3</h2>
        <div class="b">
        <h4>Area:jalgaon</h4>
        <h4>Lab Name 1: A. T. R. Laboratory Mehrun ( Jalgaon )</h4>
        <h4>Lab Name 2: Dr. Ulhas patil agriculture college soil and water</h4>
        <h4>Lab Name 3: Sunshine Research and development soil water testing</h4>
        <h4>Laboratory type:Soil Testing Laboratory</h4>
        <h4>Mobile No: 0257-2200829,0257-212025</h4>    
    </div>
</details>
<details>
    <summary style="background-color:lightgreen;">Kolhapur</summary>
        <h2>No of Centres:3</h2>
        <div class="b">
        <h4>Area:Kolhapur</h4>
        <h4>Lab Name 1: Analytical Chemist,Kolhapur</h4>
        <h4>Lab Name 2: District Soil Surve & Soil Testing Officer. Kolhapur</h4>
        <h4>Lab Name 3: Gurudatta Sugars Ltd. Takaliwadi ,</h4>
        <h4>Laboratory type:Soil Testing Laboratory</h4>
        <h4>Mobile No: 2322-241877</h4>    
    </div>
</details>
<details>
    <summary style="background-color:lightgreen;">Nagpur</summary>
        <h2>No of Centres:3</h2>
        <div class="b">
        <h4>Area:Nagpur</h4>
        <h4>Lab Name 1: Krishi Vigyan Kendra,C. I.C.R.Nagpur</h4>
        <h4>Lab Name 2: Universal Biotech Laboratory,nagpur</h4>
        <h4>Lab Name 3: Shiv Mallhar Laboratory Nagpur</h4>
        <h4>Laboratory type:Soil Testing Laboratory</h4>
        <h4>Mobile No: 0712-2289972</h4>    
    </div>
</details>
<details>
    <summary style="background-color:lightgreen;">Nanded</summary>
        <h2>No of Centres:3</h2>
        <div class="b">
        <h4>Area:Nanded</h4>
        <h4>Lab Name 1: Shri Venkatesh Food, Water & Soil Testing Lab</h4>
        <h4>Lab Name 2: Dist. Soil Survey & Soil Testing Laboratory Nanded</h4>
        <h4>Lab Name 3: Vasundhara Mati Pani Parikshan Nanded</h4>
        <h4>Laboratory type:Soil Testing Laboratory</h4>
        <h4>Mobile No: 02452-261766</h4>    
    </div>
</details>
<details>
    <summary style="background-color:lightgreen;">Nashik</summary>
        <h2>No of Centres:3</h2>
        <div class="b">
        <h4>Area:Nashik</h4>
        <h4>Lab Name 1: Dist Soil Survey Soil Testing Laboratory, Nasik</h4>
        <h4>Lab Name 2: Om Laboratory,Nashik</h4>
        <h4>Lab Name 3: ECH1 SOLUTIONS LABORATORIES</h4>
        <h4>Laboratory type:Soil Testing Laboratory</h4>
        <h4>Mobile No: 	0253-2385882,0253-2414034,0253-2592958</h4>    
    </div>
</details>
<details>
    <summary style="background-color:lightgreen;">Pune</summary>
        <h2>No of Centres:3</h2>
        <div class="b">
        <h4>Area:Haveli</h4>
        <h4>Lab Name 1: District Soil Survey Soil Testing Laboratory, Pune</h4>
        <h4>Lab Name 2: Mitcon Consultancy & Engineering Services Limited</h4>
        <h4>Lab Name 3: SLA.STL,College of Agriculture (MPKV) Pune-5S</h4>
        <h4>Laboratory type:Soil Testing Laboratory</h4>
        <h4>Mobile No: 020-25537033,020-66289400,020-25737110</h4>    
    </div>
</details>
<details>
    <summary style="background-color:lightgreen;">Sangli</summary>
        <h2>No of Centres:3</h2>
        <div class="b">
        <h4>Area:Sangli</h4>
        <h4>Lab Name 1: District soil Survey and stl,Sangli</h4>
        <h4>Lab Name 2: Kasturi Agrotech Laboratory,Sangli</h4>
        <h4>Lab Name 3: Sushilanand Agro Polyclinic ,Islampur</h4>
        <h4>Laboratory type:Soil Testing Laboratory</h4>
        <h4>Mobile No: 	0233-2327127</h4>    
    </div>
</details>
<details>
    <summary style="background-color:lightgreen;">Solapur</summary>
        <h2>No of Centres:3</h2>
        <div class="b">
        <h4>Area:Solapur</h4>
        <h4>Lab Name 1: District Soil Survey Soil Testing Lab,, Solapur</h4>
        <h4>Lab Name 2: Lokmangal Soil and Water Analysis Laboratory</h4>
        <h4>Lab Name 3: shree Siddheshwar Sahakari sakhar karkhana kumthe</h4>
        <h4>Laboratory type:Soil Testing Laboratory</h4>
        <h4>Mobile No: 	0217-2301126,0217-2246468,0217-2601541</h4>    
    </div>
</details>






</head>        
 
<br><br><br>

<div class="container">
  <img src="{{ url_for('static', filename='green.png') }}" alt="crop_disease" style="width:1440px;height:300px;">
  <div class="centered">
  <h1>ABOUT US</h1>
  <h3>mady by SHEKHAR BOPPANAPALLY</h3>
  <h3>© Copyright 2021 @shekhar Boppanapally</h3>
  <h3>for more queries about KISAAN HELP DESK please contact me at</h3>
  <a href="https://www.linkedin.com/in/shekhar-boppanapally-647a281bb/">Linkedln.com!</a><br>
  <a href="https://github.com/shekharboppanapally">Github.com!</a><br>
  <a href="mail to:19211a0540@bvrit.ac.in">mail.com!</a>.<br>
</html>    