<html>
<head>
<style>
    div.a {
  text-align: center;
}
div.b {
  text-align: left;
}
.container {
  position: relative;
  text-align: center;
  color: white;
}
.centered {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
div.d {
  text-align: right;
}
body {
  
  background-image:url("{{ url_for('static', filename='black.png') }}");
  background-repeat: no-repeat;
  background-size: 100% 10%;
} 
</style>

<div class="d"><br>
  <a href="{{ url_for('welcome') }}" style="font-size:25px" >&emsp;home 
  <a href="{{ url_for('crop_prediction') }}" style="font-size:25px">&emsp;crop  
  <a href="{{ url_for('fertilizer_rec') }}" style="font-size:25px" >&emsp;fertilizer
  <a href="{{ url_for('crop_disease')}}" style="font-size:25px" >&emsp;disease
  </a>
</div>
<div class="a"><br><br><br><br>
<h1>Please select your District</h1>  
<details>
    <summary style="background-color:lightgreen;">Amritsar</summary>
        <h2>No of Centres:3</h2>
        <div class="b">
        <h4>Area:Amritsar</h4>
        <h4>Lab Name 1: Agriculture office,Amritsar</h4>
        <h4>Lab Name 2: Chief Agriculture office,Amritsar</h4>
        <h4>Lab Name 3: JANDIALA/h4>
        <h4>Laboratory type:Soil Testing Laboratory</h4>
        <h4>Mobile No: </h4>    
    </div>
</details>
<details>
  <summary style="background-color:lightgreen;">Bathinda</summary>
      <h2>No of Centres:3</h2>
      <div class="b">
      <h4>Area:Bathinda</h4>
      <h4>Lab Name 1: Chief Agriculture Office,Bathinda</h4>
      <h4>Lab Name 2: Soil Testing Laboratory,Bathinda</h4>
      <h4>Lab Name 3: TALWANDI SABO</h4>
      <h4>Laboratory type:Soil Testing Laboratory</h4>
      <h4>Mobile No: </h4>    
  </div>
</details>
<details>
  <summary style="background-color:lightgreen;">Fazilka</summary>
      <h2>No of Centres:3</h2>
      <div class="b">
      <h4>Area:Fazilka</h4>
      <h4>Lab Name 1: Soil and Water Testing Lab Jalalabad</h4>
      <h4>Lab Name 2: Soil Testing Lab,Fazika</h4>
      <h4>Lab Name 3: Soil and Water Testing Lab Abohar</h4>
      <h4>Laboratory type:Soil Testing Laboratory</h4>
      <h4>Mobile No: </h4>    
  </div>
</details>
<details>
  <summary style="background-color:lightgreen;">Gurdaspur</summary>
      <h2>No of Centres:3</h2>
      <div class="b">
      <h4>Area:Gurdaspur</h4>
      <h4>Lab Name 1: Chief Agriculture Office, Gurdaspur</h4>
      <h4>Lab Name 2: Soil Testing Laboratory, KVK Gurdaspur</h4>
      <h4>Lab Name 3: Block Agriculture Office, Kahnuwan</h4>
      <h4>Laboratory type:Soil Testing Laboratory</h4>
      <h4>Mobile No: 0187-220743</h4>    
  </div>
</details>
<details>
  <summary style="background-color:lightgreen;">Jalandhar</summary>
      <h2>No of Centres:3</h2>
      <div class="b">
      <h4>Area:Jalandhar</h4>
      <h4>Lab Name 1: Chief Agriculture Office,Jalandhar</h4>
      <h4>Lab Name 2: Soil testing Lab,Jalandhar</h4>
      <h4>Lab Name 3: Soil and Water testing lab, KVK,Jalandhar</h4>
      <h4>Laboratory type:Soil Testing Laboratory</h4>
      <h4>Mobile No: 01826-242288</h4>    
  </div>
</details>
<details>
  <summary style="background-color:lightgreen;">Ludhiana</summary>
      <h2>No of Centres:3</h2>
      <div class="b">
      <h4>Area:Ludhiana</h4>
      <h4>Lab Name 1: Fertilizer Quality Control Laboratory,Ludhiana</h4>
      <h4>Lab Name 2: Soil Testing Lab,Machchiwara</h4>
      <h4>Lab Name 3: Soil Testing Lab,Samrala</h4>
      <h4>Laboratory type:Soil Testing Laboratory</h4>
      <h4>Mobile No: </h4>    
  </div>
</details>
<details>
  <summary style="background-color:lightgreen;">Patiala</summary>
      <h2>No of Centres:3</h2>
      <div class="b">
      <h4>Area:Patiala</h4>
      <h4>Lab Name 1: Chief Agriculture Office,Patiala</h4>
      <h4>Lab Name 2: Soil Testing Officer,Patiala</h4>
      <h4>Lab Name 3: Soil Testing Officer,Rajpura</h4>
      <h4>Laboratory type:Soil Testing Laboratory</h4>
      <h4>Mobile No: 0175-2214774</h4>    
  </div>
</details>
<details>
  <summary style="background-color:lightgreen;">Rupnagar</summary>
      <h2>No of Centres:3</h2>
      <div class="b">
      <h4>Area:Rupnagar</h4>
      <h4>Lab Name 1: Chief Agriculture Office,Ropar</h4>
      <h4>Lab Name 2: Soil Testing Lab,Nurpurbedi</h4>
      <h4>Lab Name 3: Soil Testing Officer Morinda</h4>
      <h4>Laboratory type:Soil Testing Laboratory</h4>
      <h4>Mobile No: </h4>    
  </div>
</details>
<details>
  <summary style="background-color:lightgreen;">Sangrur</summary>
      <h2>No of Centres:3</h2>
      <div class="b">
      <h4>Area:Sangrur</h4>
      <h4>Lab Name 1: Soil Testing Lab,Sangrur</h4>
      <h4>Lab Name 2: Soil and Water Testing</h4>
      <h4>Lab Name 3: Soil Testing Lab,Benra</h4>
      <h4>Laboratory type:Soil Testing Laboratory</h4>
      <h4>Mobile No: 01672-220234</h4>    
  </div>
</details>



</head>        
 
<br><br><br>

<div class="container">
  <img src="{{ url_for('static', filename='green.png') }}" alt="crop_disease" style="width:1440px;height:300px;">
  <div class="centered">
  <h1>ABOUT US</h1>
  <h3>mady by SHEKHAR BOPPANAPALLY</h3>
  <h3>© Copyright 2021 @shekhar Boppanapally</h3>
  <h3>for more queries about KISAAN HELP DESK please contact me at</h3>
  <a href="https://www.linkedin.com/in/shekhar-boppanapally-647a281bb/">Linkedln.com!</a><br>
  <a href="https://github.com/shekharboppanapally">Github.com!</a><br>
  <a href="mail to:19211a0540@bvrit.ac.in">mail.com!</a>.<br>
</html>    


