<html>
<head>
<style>
    div.a {
  text-align: center;
}
div.b {
  text-align: left;
}
.container {
  position: relative;
  text-align: center;
  color: white;
}
.centered {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
div.d {
  text-align: right;
}
body {
  
  background-image:url("{{ url_for('static', filename='black.png') }}");
  background-repeat: no-repeat;
  background-size: 100% 10%;
} 
</style>

<div class="d"><br>
  <a href="{{ url_for('welcome') }}" style="font-size:25px" >&emsp;home 
  <a href="{{ url_for('crop_prediction') }}" style="font-size:25px">&emsp;crop  
  <a href="{{ url_for('fertilizer_rec') }}" style="font-size:25px" >&emsp;fertilizer
  <a href="{{ url_for('crop_disease')}}" style="font-size:25px" >&emsp;disease
  </a>
</div>
<div class="a"><br><br><br><br>
<h1>Please select your District</h1>    
<details>
    <summary style="background-color:lightgreen;">Ajmer</summary>
        <h2>No of Centres:3</h2>
        <div class="b">
        <h4>Area:Ajmer</h4>
        <h4>Lab Name 1: STL Ajmer</h4>
        <h4>Lab Name 2: STL Kekari</h4>
        <h4>Lab Name 3: STL Beawar</h4>
        <h4>Laboratory type:Soil Testing Laboratory</h4>
        <h4>Mobile No: </h4>    
    </div>
</details> 
<details>
    <summary style="background-color:lightgreen;">Barmer</summary>
        <h2>No of Centres:3</h2>
        <div class="b">
        <h4>Area:Barmer</h4>
        <h4>Lab Name 1: STL Badmer</h4>
        <h4>Lab Name 2: STL Balotara</h4>
        <h4>Lab Name 3: Soil Testing Laboratory, Anupgarh,</h4>
        <h4>Laboratory type:Soil Testing Laboratory</h4>
        <h4>Mobile No: </h4>    
    </div>
</details> 
<details>
    <summary style="background-color:lightgreen;">Bharatpur</summary>
        <h2>No of Centres:3</h2>
        <div class="b">
        <h4>Area:Bharatpur</h4>
        <h4>Lab Name 1: STL Bayana</h4>
        <h4>Lab Name 2: STL Kumher</h4>
        <h4>Lab Name 3: STL Nadbai	</h4>
        <h4>Laboratory type:Soil Testing Laboratory</h4>
        <h4>Mobile No: </h4>    
    </div>
</details> 
<details>
    <summary style="background-color:lightgreen;">Bikaner</summary>
        <h2>No of Centres:3</h2>
        <div class="b">
        <h4>Area:Bikaner</h4>
        <h4>Lab Name 1: STL Bikaner</h4>
        <h4>Lab Name 2: STL CAD Bikaner</h4>
        <h4>Lab Name 3: STL Shri Dungargarh</h4>
        <h4>Laboratory type:Soil Testing Laboratory</h4>
        <h4>Mobile No: </h4>    
    </div>
</details>
<details>
    <summary style="background-color:lightgreen;">Churu</summary>
        <h2>No of Centres:3</h2>
        <div class="b">
        <h4>Area:churu</h4>
        <h4>Lab Name 1: STL Churu</h4>
        <h4>Lab Name 2: STL Sandwa</h4>
        <h4>Lab Name 3: STL Taranagar</h4>
        <h4>Laboratory type:Soil Testing Laboratory</h4>
        <h4>Mobile No: </h4>    
    </div>
</details>
<details>
    <summary style="background-color:lightgreen;">Ganganagar</summary>
        <h2>No of Centres:3</h2>
        <div class="b">
        <h4>Area:Ganganagar</h4>
        <h4>Lab Name 1: ARO(Chem),STL, Sriganganagar</h4>
        <h4>Lab Name 2: STL Shri Karanpur</h4>
        <h4>Lab Name 3: STL Suratgarh</h4>
        <h4>Laboratory type:Soil Testing Laboratory</h4>
        <h4>Mobile No: </h4>    
    </div>
</details> 
<details>
    <summary style="background-color:lightgreen;">Hanumangarh</summary>
        <h2>No of Centres:3</h2>
        <div class="b">
        <h4>Area:Hanumangarh</h4>
        <h4>Lab Name 1: STL Hanumangarh</h4>
        <h4>Lab Name 2: STL bhadara</h4>
        <h4>Lab Name 3: STL pilibanga</h4>
        <h4>Laboratory type:Soil Testing Laboratory</h4>
        <h4>Mobile No: </h4>    
    </div>
</details> 
<details>
    <summary style="background-color:lightgreen;">Jaipur</summary>
        <h2>No of Centres:3</h2>
        <div class="b">
        <h4>Area:jaipur</h4>
        <h4>Lab Name 1: Govt. SLSTL Durgapura	</h4>
        <h4>Lab Name 2: STL DUDU</h4>
        <h4>Lab Name 3: Soil Testing Laboratories,shahpura</h4>
        <h4>Laboratory type:Soil Testing Laboratory</h4>
        <h4>Mobile No: </h4>    
    </div>
</details> 
<details>
    <summary style="background-color:lightgreen;">Jodhpur</summary>
        <h2>No of Centres:3</h2>
        <div class="b">
        <h4>Area:jodhpur</h4>
        <h4>Lab Name 1: STL Jodhpur	</h4>
        <h4>Lab Name 2: STL Balotra</h4>
        <h4>Lab Name 3: STL Phalodi</h4>
        <h4>Laboratory type:Soil Testing Laboratory</h4>
        <h4>Mobile No: </h4>    
    </div>
</details>
<details>
    <summary style="background-color:lightgreen;">Nagaur</summary>
        <h2>No of Centres:3</h2>
        <div class="b">
        <h4>Area:Nagaur</h4>
        <h4>Lab Name 1: Government STL Nagaur	</h4>
        <h4>Lab Name 2: STL Kuchaman City</h4>
        <h4>Lab Name 3: STL Merta Road</h4>
        <h4>Laboratory type:Soil Testing Laboratory</h4>
        <h4>Mobile No: </h4>    
    </div>
</details> 
<details>
    <summary style="background-color:lightgreen;">Sikar</summary>
        <h2>No of Centres:3</h2>
        <div class="b">
        <h4>Area:Sikar</h4>
        <h4>Lab Name 1: STL Sikar	</h4>
        <h4>Lab Name 2: STL Sri Madhopur	</h4>
        <h4>Lab Name 3: STL Shrimadhopur</h4>
        <h4>Laboratory type:Soil Testing Laboratory</h4>
        <h4>Mobile No: </h4>    
    </div>
</details> 
<details>
    <summary style="background-color:lightgreen;">Tonk</summary>
        <h2>No of Centres:3</h2>
        <div class="b">
        <h4>Area:Tonk</h4>
        <h4>Lab Name 1: STL Deoli	</h4>
        <h4>Lab Name 2: STL Duni	</h4>
        <h4>Lab Name 3: STL Malpura	</h4>
        <h4>Laboratory type:Soil Testing Laboratory</h4>
        <h4>Mobile No: </h4>    
    </div>
</details> 

</head>        
 
<br><br><br>

<div class="container">
  <img src="{{ url_for('static', filename='green.png') }}" alt="crop_disease" style="width:1440px;height:300px;">
  <div class="centered">
  <h1>ABOUT US</h1>
  <h3>mady by SHEKHAR BOPPANAPALLY</h3>
  <h3>© Copyright 2021 @shekhar Boppanapally</h3>
  <h3>for more queries about KISAAN HELP DESK please contact me at</h3>
  <a href="https://www.linkedin.com/in/shekhar-boppanapally-647a281bb/">Linkedln.com!</a><br>
  <a href="https://github.com/shekharboppanapally">Github.com!</a><br>
  <a href="mail to:19211a0540@bvrit.ac.in">mail.com!</a>.<br>
</html>    