<html>
<head>
<style>
    div.a {
  text-align: center;
}
div.b {
  text-align: left;
}
.container {
  position: relative;
  text-align: center;
  color: white;
}
.centered {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
div.d {
  text-align: right;
}
body {
  
  background-image:url("{{ url_for('static', filename='black.png') }}");
  background-repeat: no-repeat;
  background-size: 100% 10%;
} 
</style>

<div class="d"><br>
  <a href="{{ url_for('welcome') }}" style="font-size:25px" >&emsp;home 
  <a href="{{ url_for('crop_prediction') }}" style="font-size:25px">&emsp;crop  
  <a href="{{ url_for('fertilizer_rec') }}" style="font-size:25px" >&emsp;fertilizer
  <a href="{{ url_for('crop_disease')}}" style="font-size:25px" >&emsp;disease
  </a>
</div>
<div class="a"><br><br><br><br>
<h1>Please select your District</h1>  
<details>
  <summary style="background-color:lightgreen;">Adilabad</summary>
      <h2>No of Centres:2</h2>
      <div class="b">
      <h4>Area:Banglore rural</h4>
      <h4>Lab Name 1: Asst Director of Agriculture,Adilabad	</h4>
      <h4>Lab Name 2: Soil Testing Laboratory Adilabad</h4>
      <h4>Laboratory type:Soil Testing Laboratory</h4>
      <h4>Mobile No: 08732-222345</h4>    
  </div>
</details>
<details>
  <summary style="background-color:lightgreen;">Karimnagar</summary>
      <h2>No of Centres:1</h2>
      <div class="b">
      <h4>Area:Karimnagar</h4>
      <h4>Lab Name 1: Asst. Director of Agriculture,Karimnagar		</h4>
      <h4>Laboratory type:Soil Testing Laboratory</h4>
      <h4>Mobile No: </h4>    
  </div>
</details>
<details>
  <summary style="background-color:lightgreen;">Khammam</summary>
      <h2>No of Centres:3</h2>
      <div class="b">
      <h4>Area:Khammam</h4>
      <h4>Lab Name 1: MPDO Office,Tekulaboru	</h4>
      <h4>Lab Name 2: Soil Testing Lab,Khammam</h4>
      <h4>Lab Name 3: STL,AMC,SATHUPALLY</h4>
      <h4>Laboratory type:Soil Testing Laboratory</h4>
      <h4>Mobile No: 08742-221123</h4>    
  </div>
</details>
<details>
  <summary style="background-color:lightgreen;">Mahabubnagar</summary>
      <h2>No of Centres:2</h2>
      <div class="b">
      <h4>Area:Mahabubnagar</h4>
      <h4>Lab Name 1: Assistant Director of Agriculture,Mahabubnagar	</h4>
      <h4>Lab Name 2: Soil Testing Lab,Mahabubnagar</h4>
      <h4>Laboratory type:Soil Testing Laboratory</h4>
      <h4>Mobile No: </h4>    
  </div>
</details>
<details>
  <summary style="background-color:lightgreen;">Mancherial</summary>
      <h2>No of Centres:1</h2>
      <div class="b">
      <h4>Area:Mancherial</h4>
      <h4>Lab Name 1: Mancherial soil Testing Laboratory</h4>
      <h4>Laboratory type:Soil Testing Laboratory</h4>
      <h4>Mobile No: </h4>    
  </div>
</details>
<details>
  <summary style="background-color:lightgreen;">Medak</summary>
      <h2>No of Centres:1</h2>
      <div class="b">
      <h4>Area:Medak</h4>
      <h4>Lab Name 1: Soil Testing Laboratory,Medak</h4>
      <h4>Laboratory type:Soil Testing Laboratory</h4>
      <h4>Mobile No: </h4>    
  </div>
</details>
<details>
  <summary style="background-color:lightgreen;">Medchal</summary>
      <h2>No of Centres:1</h2>
      <div class="b">
      <h4>Area:Medchal</h4>
      <h4>Lab Name 1: Soil Testing Laboratory,Medchal</h4>
      <h4>Laboratory type:Soil Testing Laboratory</h4>
      <h4>Mobile No: </h4>    
  </div>
</details>
<details>
  <summary style="background-color:lightgreen;">Nalgonda</summary>
      <h2>No of Centres:3</h2>
      <div class="b">
      <h4>Area:Nalgonda</h4>
      <h4>Lab Name 1: Soil Testing Lab, Miryalaguda</h4>
      <h4>Lab Name 2: The Assistant Director of Agriculture ,Nalgonda</h4>
      <h4>Lab Name 3: Agriculture Markette Committee,STL,Nalgonda</h4>
      <h4>Laboratory type:Soil Testing Laboratory</h4>
      <h4>Mobile No: </h4>    
  </div>
</details>
<details>
  <summary style="background-color:lightgreen;">Nizamabad</summary>
      <h2>No of Centres:5</h2>
      <div class="b">
      <h4>Area:Nizamabad</h4>
      <h4>Lab Name 1: AMC STL Bodhan</h4>
      <h4>Lab Name 2: AMC STL, Kamareddy</h4>
      <h4>Lab Name 3: Assistant Director of Agriculture,Nizamabad</h4>
      <h4>Lab Name 4: Soil testing Laboratory,Nizamabad</h4>
      <h4>Lab Name 5: STL Nizamabad	</h4>
      <h4>Laboratory type:Soil Testing Laboratory</h4>
      <h4>Mobile No: </h4>    
  </div>
</details>
<details>
  <summary style="background-color:lightgreen;">Ranga reddy</summary>
      <h2>No of Centres:4</h2>
      <div class="b">
      <h4>Area:Rangareddy</h4>
      <h4>Lab Name 1: Deputy Director of Agriculture</h4>
      <h4>Lab Name 2: The Asst. Director of Agriculture,Rajendranagar</h4>
      <h4>Lab Name 3: Agriculture Markette Committee,STL,Nalgonda</h4>
      <h4>Lab Name 4: The Asst Director of Agriculture,Ranga Reddy</h4>
      <h4>Laboratory type:Soil Testing Laboratory</h4>
      <h4>Mobile No: 040-24015200</h4>    
  </div>
</details>
<details>
  <summary style="background-color:lightgreen;">Sangareddy</summary>
      <h2>No of Centres:1</h2>
      <div class="b">
      <h4>Area:Sangareddy</h4>
      <h4>Lab Name 1: Asst Director of Agriculture,Sangareddy</h4>
      <h4>Laboratory type:Soil Testing Laboratory</h4>
      <h4>Mobile No: </h4>    
  </div>
</details>
<details>
  <summary style="background-color:lightgreen;">Siddipet</summary>
      <h2>No of Centres:1</h2>
      <div class="b">
      <h4>Area:Siddipet</h4>
      <h4>Lab Name 1: Soil Testing Laboratory,Siddipet</h4>
      <h4>Laboratory type:Soil Testing Laboratory</h4>
      <h4>Mobile No: </h4>    
  </div>
</details>
<details>
  <summary style="background-color:lightgreen;">Vikarabad</summary>
      <h2>No of Centres:1</h2>
      <div class="b">
      <h4>Area:Vikarabad</h4>
      <h4>Lab Name 1: Soil Testing Lab,Vikarabad</h4>
      <h4>Laboratory type:Soil Testing Laboratory</h4>
      <h4>Mobile No: </h4>    
  </div>
</details>
<details>
  <summary style="background-color:lightgreen;">Warangal</summary>
      <h2>No of Centres:2</h2>
      <div class="b">
      <h4>Area:warangal</h4>
      <h4>Lab Name 1: Asst Director of Agriculture,Warangal</h4>
      <h4>Lab Name 2: Asst Director of Agriculture,Paidipally</h4>
      <h4>Laboratory type:Soil Testing Laboratory</h4>
      <h4>Mobile No: </h4>    
  </div>
</details>
<details>
  <summary style="background-color:lightgreen;">Yadadri</summary>
      <h2>No of Centres:1</h2>
      <div class="b">
      <h4>Area:Yadadri</h4>
      <h4>Lab Name 1: Soil Testing Laboratory ,Yadadri-Bhuvanagiri</h4>
      <h4>Laboratory type:Soil Testing Laboratory</h4>
      <h4>Mobile No: </h4>    
  </div>
</details>


</head>        
 
<br><br><br>

<div class="container">
  <img src="{{ url_for('static', filename='green.png') }}" alt="crop_disease" style="width:1440px;height:300px;">
  <div class="centered">
  <h1>ABOUT US</h1>
  <h3>mady by SHEKHAR BOPPANAPALLY</h3>
  <h3>© Copyright 2021 @shekhar Boppanapally</h3>
  <h3>for more queries about KISAAN HELP DESK please contact me at</h3>
  <a href="https://www.linkedin.com/in/shekhar-boppanapally-647a281bb/">Linkedln.com!</a><br>
  <a href="https://github.com/shekharboppanapally">Github.com!</a><br>
  <a href="mail to:19211a0540@bvrit.ac.in">mail.com!</a>.<br>
</html>

